* {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controls-container {
  display: flex;
  align-items: center;
  background-color: rgb(182, 182, 182);
  width: fit-content;
  gap: 40px;
  padding: 20px;
  border: 7px solid rgb(255, 162, 22);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

button {
  font-size: 20px;
  width: 100px;
  height: 80px;
  background-color: grey;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 5px;
}

#controls {
  padding: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 220px;
}


.switch {
  width: 50px;
  height: 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  padding: 2px 4px;
}

.switch::before {
  position: absolute;
  content: '';
  background-color: rgb(0, 0, 197);
  height: 20px;
  width: 20px;
}



.check:checked + .switch {
  align-items: end;
}

.check {
  display: none;
}

#action-display {
  height: 50px;
  width: 180px;
  background-color: grey;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background-color: rgb(53, 53, 53);
  border-radius: none;
  outline: none;
}

.switch-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#range-cont {
  width: 100%;
}